.hide_me{
	display:none !important;
}
.size_div {
    padding: 15px;
}
input#add_style {
    width: 100%;
}
.row.fitstyleslist .control-label {
    margin-top: 38px !important;
    width: 20%;
}
input.submit_measurement.btn.btn-primary.btn-block {
    width: 27%;
    float: left;
    margin-bottom: 20px;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--dashboard, li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads,input#billing_address_2,p#billing_company_field,p#shipping_company_field,p#shipping_address_2_field {
    display: none;
}
p#shipping_address_2_field {
    display: none !important;
}
.woocommerce-MyAccount-content h3 {
	float: left;
    width: 100%;
}
.woocommerce-address-fields .form-row label {
    width: 26% !important;
    text-align: left !important;
}
p#billing_address_2_field {
    display: none;
}
p#billing_first_name_field, p#billing_last_name_field,p#shipping_first_name_field,p#shipping_last_name_field{
    width: 100%;
}
.woocommerce-MyAccount-content button[type=submit] {
    float: left;
}
.row.fitstyleslist label,#style_list label{
    width: 100%;
}
.size_div label {
    margin-top: 23px;
    width: 20%;
    display: block;
    font-weight: 700;
}
nav.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link {
    margin-bottom: 1px !important;
    background: #eee;
    list-style-type: none;
    padding: 10px;
}
li.woocommerce-MyAccount-navigation-link a {
    display: block;
    color: #222;
    position: relative;
}
nav.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
}
.woocommerce-account .woocommerce,.woocommerce-checkout .woocommerce{
    background: #2b4a694d;
    padding: 25px;
}
form.woocommerce-form.woocommerce-form-login.login {
    width: 50%;
    margin: 0 auto;
}
span.password-input {
    width: 100%;
    display: block;
}
span.password-input input {
    width: 100%;
    display: block;
}
input#rememberme {
    text-align: left;
    float: left;
    width: 8%;
    display: inline;
    margin-top: 9px;
}
h3#order_review_heading {
    padding-right: 15px;
    padding-left: 15px;
}
.size_div .measurement-field {
    width: 24%;
    float: left;
    margin-right: 1%;
}
/* .footer-widgets-column {
    -webkit-box-flex: auto !important;
    -ms-flex: auto !important;
    flex: auto !important;
} */
.um-postmessage {
    text-align: center;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    width: 45%;
}
.woocommerce form.login, .woocommerce form.register {
    border: 1px solid #ffffff !important;
}
.woocommerce-account{ 
    text-align: left;
    margin: 15px;
}
   .woocommerce form .password-input, .woocommerce-page form .password-input {
    display: -webkit-box;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.woocommerce table.shop_table tbody tr {
    background: #eeeeee;
}
.woocommerce-account .col2-set .col-2, .woocommerce-account .col2-set .col-2,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
    flex: 0 0 48.666667%;
    max-width: 48.666667%;
}
.woocommerce-account form .form-row label,.woocommerce form .form-row label {
    margin-left: 2px;
    width: 50%;
}
h6.course_list {
    font-weight: 700;
}
.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}

h2.life_num_rword {
    text-align: center;
    font-size: 55px;
	font-family: serif;
    margin: 25px 0px;
}
.section.user_planet_icon {
    padding: 0.8em;
}
.section.description {
    padding: 0.8em;
}
.section.life_num_roman {
    padding: 0.8em;
}
.section.elm_icon span {
    background: #2184be;
}

.img_parent img {
    width: 250px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.img_parent {
    background: #2184be;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.wrap-1 {
    max-width: 1060px !important;
}
span.input-hint.img_parent p {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
span.input-hint.img_parent span {
    font-weight: 500;
}
.smart-forms .section {
    margin-bottom: 22px;
    padding: 0px 10px;
}
.section.description .input-hint {
    font-size: 16px;
}
.social-navigation ul ul {
    border-top: 1px solid;
    border-color: #f2f2f2;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
    white-space: nowrap;
    background-color: #fff;
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, 0rem, 0);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #000;
    z-index: 9999999;
	position: absolute;
	padding: 0px 10px 5px;
    min-width: 130px;
    max-width: 250px;
}
.social-navigation ul li.menu-item-has-children:hover > ul{
	 display: block;
}
.social-navigation .sub-menu a {
    color: #000;
}
.um-account-side ul li:nth-child(3) {
    display: none;
}
.summary-before {
    width: 50%;
    float: left;
    clear: left;
}
.quantity, button.single_add_to_cart_button,table.variations{
    display: none;
}
button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed{
	display:none;
}
.col-1 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
#menu-social-menu li.menu-item.menu-item-type-post_type.menu-item-object-page,#menu-social-menu .menu-item-has-children  {
    padding: 10px !important;
}
.admin-bar .current_page_ancestor.menu-item-has-children {
    margin-top: 0;
}
/* Style the form */
span.guesstimated {
    display: none;
}
/* div#product-2770 .summary-before {
    display: none;
} */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.variations tbody tr,.wccpf-fields-group-1,.wccpf-fields-group-2,.wccpf-fields-group-3{
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #c71a1e;
}
input.btn.btn-primary.btn-block {
    width: 25%;
    float: right;
    margin-left: 25px;
    line-height: initial;
    background: #c71a1e;
}
.info {
  border-color: #c71a1e;
  color: dodgerblue
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
 padding: 2px 25px;
  font-size: 16px;
  cursor: pointer;
}
.info:hover {
  background: #c71a1e;
  color: white;
}
.sp-preview {
    position: relative;
    width: 35px !important;
    height: 30px !important;
}
.sp-palette .sp-thumb-el {
    width: 45px !important;
    height: 45px !important;
    margin: 2px 1px;
    border: solid 1px #d0d0d0;
}
table.variations tr:nth-child(7) {
    display: none !important;
}
.woocommerce-variation-add-to-cart .quantity {
    display: none !important;
}
button.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    float: initial;
}
.measurement .um-link {
    font-size: 16px;
    font-weight: normal;
}
form#addmenu select{
	width: 100%;
    padding: 0.6125rem 1.125rem;
    line-height: 1.5;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1.4375rem;
    border: 1px solid;
    border-color: #c4c4c4;
    background-color: #fff;
    color: #333;
    -webkit-transition-property: border-color, background-color;
    transition-property: border-color, background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
label.control-label {
    font-weight: 700;
}
.sp-palette {
    max-width: 687px !important;
    width: 687px !important;
}
button.single_add_to_cart_button{
	display:none;
}
/* .sp-container.sp-light.sp-input-disabled.sp-palette-buttons-disabled.sp-palette-only.sp-initial-disabled.sp-hidden {
    top: calc(100% - 50px) !important;
    position: calc(100% - 50px) !important;
    left: calc(30% - 50px) !important;
}
.sp-container.sp-light, .sp-palette-container {
    width: 380px !important;
    border: none;
    background: #fff;
}

.sp-replacer.sp-light {
	display: none;
}	 */