/*
Template: goodtailor
Theme Name: GoodTailor Child theme
Theme URI: https://demo.brothersthemes.com/goodtailor/
Description: Premium WordPress theme
Author: BrothersTheme
Author URI: https://themeforest.net/user/brotherstheme
Version: 1.0.0
Text Domain: goodtailor
License: GNU General Public License v2 or later & Envato Market License
License URI: http://www.gnu.org/licenses/gpl-2.0.html & http://themeforest.net/licenses
*/
.wpcf7-form-control.wpcf7-submit.btn.btn-secondary, .btn-header{
-webkit-font-smoothing: antialiased !important;
-moz-osx-font-smoothing: grayscale !important;
border: 0 !important;
color: #fff !important;
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
background-color: #c71a1e !important;
background-repeat: no-repeat, no-repeat !important;
background-position: left 2px top 1px, left bottom !important;
background-size: calc(100% - 4px) calc(100% - 2px), 100% 200% !important;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#de1d21), color-stop(50%, #de1d21), to(#a31519)) !important;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), linear-gradient(#de1d21 0%, #de1d21 50%, #a31519 100%) !important;
}
.wpcf7-form-control.wpcf7-submit.btn.btn-secondary:hover, .btn-header:hover{
color: #fff !important;
background-color:#c71a1e !important;
background-position: left 2px top 1px, left top !important;
}
