.customize-control .alpha-controls {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.customize-control .alpha-control-title {
	font-size: 12px;
	font-weight: bold;
}
.customize-control .alpha-controls .alpha-number {
	flex: none;
	width: 50px;
}
.customize-control .alpha-controls .alpha-slider {
	flex: 1;
	width: auto;
	min-width: 0;
	margin-left: 15px;
}
@media (max-width: 782px) {
	.customize-control .alpha-controls .alpha-number {
		width: 70px;
	}
}
