#thelayer-editor-wrapper .slide_layer,
#wpb_visual_composer,
#tinymce.mce-content-body {
  /* Button styles */
  /* Disabled button state */
  /* Header button */
  /* Clearfix */
  /* Container */
  /* Text utilities */
  /* Responsive text alignment */
  /* Text transforms */
  /* Weight and italics */
  /* Contextual colors */
  /* Text color tweaks for dark backgrounds */
  /* Visibility */
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn,
#tinymce.mce-content-body .btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  display: inline-block;
  padding: 0.625rem 2.125rem;
  border-radius: 25rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #333;
  background-color: #ebe9eb;
}

#thelayer-editor-wrapper .slide_layer .btn:hover,
#wpb_visual_composer .btn:hover,
#tinymce.mce-content-body .btn:hover {
  color: #c71a1e;
  background-color: #dad8da;
}

#thelayer-editor-wrapper .slide_layer .btn-large,
#wpb_visual_composer .btn-large,
#tinymce.mce-content-body .btn-large {
  padding: 0.75rem 2.125rem;
  font-size: 1.3125rem;
}

#thelayer-editor-wrapper .slide_layer .btn-small,
#wpb_visual_composer .btn-small,
#tinymce.mce-content-body .btn-small {
  padding: 0.375rem 2rem;
  font-size: 0.875rem;
}

#thelayer-editor-wrapper .slide_layer .btn-primary,
#wpb_visual_composer .btn-primary,
#tinymce.mce-content-body .btn-primary {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #c71a1e;
  background-repeat: no-repeat, no-repeat;
  background-position: left 2px top 1px, left bottom;
  background-size: calc(100% - 4px) calc(100% - 2px), 100% 200%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#de1d21), color-stop(50%, #de1d21), to(#a31519));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), linear-gradient(#de1d21 0%, #de1d21 50%, #a31519 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-primary:hover, #thelayer-editor-wrapper .slide_layer .btn-primary:focus,
#wpb_visual_composer .btn-primary:hover,
#wpb_visual_composer .btn-primary:focus,
#tinymce.mce-content-body .btn-primary:hover,
#tinymce.mce-content-body .btn-primary:focus {
  color: #fff;
  background-color: #c71a1e;
  background-position: left 2px top 1px, left top;
}

#thelayer-editor-wrapper .slide_layer .btn-primary.btn-large,
#wpb_visual_composer .btn-primary.btn-large,
#tinymce.mce-content-body .btn-primary.btn-large {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='29' ry='29' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#de1d21), color-stop(50%, #de1d21), to(#a31519));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='29' ry='29' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), linear-gradient(#de1d21 0%, #de1d21 50%, #a31519 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-primary.btn-small,
#wpb_visual_composer .btn-primary.btn-small,
#tinymce.mce-content-body .btn-primary.btn-small {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='17' ry='17' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#de1d21), color-stop(50%, #de1d21), to(#a31519));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='17' ry='17' fill='none' stroke='%23fff' stroke-dasharray='6,5' stroke-width='2' stroke-opacity='0.7' /></svg>"), linear-gradient(#de1d21 0%, #de1d21 50%, #a31519 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-secondary,
#wpb_visual_composer .btn-secondary,
#tinymce.mce-content-body .btn-secondary {
  color: #333;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  background-repeat: no-repeat, no-repeat;
  background-position: left 2px top 1px, left bottom;
  background-size: calc(100% - 4px) calc(100% - 2px), 100% 200%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), color-stop(50%, #f2f2f2), to(#e0e0e0));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='24' ry='24' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), linear-gradient(#f2f2f2 0%, #f2f2f2 50%, #e0e0e0 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-secondary:hover, #thelayer-editor-wrapper .slide_layer .btn-secondary:focus,
#wpb_visual_composer .btn-secondary:hover,
#wpb_visual_composer .btn-secondary:focus,
#tinymce.mce-content-body .btn-secondary:hover,
#tinymce.mce-content-body .btn-secondary:focus {
  color: #333;
  border-color: #333;
  background-position: left 2px top 1px, left top;
}

#thelayer-editor-wrapper .slide_layer .btn-secondary.btn-large,
#wpb_visual_composer .btn-secondary.btn-large,
#tinymce.mce-content-body .btn-secondary.btn-large {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='29' ry='29' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), color-stop(50%, #f2f2f2), to(#e0e0e0));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='29' ry='29' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), linear-gradient(#f2f2f2 0%, #f2f2f2 50%, #e0e0e0 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-secondary.btn-small,
#wpb_visual_composer .btn-secondary.btn-small,
#tinymce.mce-content-body .btn-secondary.btn-small {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='17' ry='17' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), color-stop(50%, #f2f2f2), to(#e0e0e0));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='17' ry='17' fill='none' stroke='%23333' stroke-dasharray='6,5' stroke-width='1' stroke-opacity='1' /></svg>"), linear-gradient(#f2f2f2 0%, #f2f2f2 50%, #e0e0e0 100%);
}

#thelayer-editor-wrapper .slide_layer .btn-transparent,
#wpb_visual_composer .btn-transparent,
#tinymce.mce-content-body .btn-transparent {
  border: 0;
  background-color: rgba(196, 196, 196, 0.35);
}

#thelayer-editor-wrapper .slide_layer .btn-disabled,
#thelayer-editor-wrapper .slide_layer .btn:disabled,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled],
#wpb_visual_composer .btn-disabled,
#wpb_visual_composer .btn:disabled,
#wpb_visual_composer .btn:disabled[disabled],
#tinymce.mce-content-body .btn-disabled,
#tinymce.mce-content-body .btn:disabled,
#tinymce.mce-content-body .btn:disabled[disabled] {
  color: #bbb;
  background-color: #e5e5e5;
  border: none;
  cursor: not-allowed;
}

#thelayer-editor-wrapper .slide_layer .btn-disabled:hover, #thelayer-editor-wrapper .slide_layer .btn-disabled:focus,
#thelayer-editor-wrapper .slide_layer .btn:disabled:hover,
#thelayer-editor-wrapper .slide_layer .btn:disabled:focus,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled]:hover,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled]:focus,
#wpb_visual_composer .btn-disabled:hover,
#wpb_visual_composer .btn-disabled:focus,
#wpb_visual_composer .btn:disabled:hover,
#wpb_visual_composer .btn:disabled:focus,
#wpb_visual_composer .btn:disabled[disabled]:hover,
#wpb_visual_composer .btn:disabled[disabled]:focus,
#tinymce.mce-content-body .btn-disabled:hover,
#tinymce.mce-content-body .btn-disabled:focus,
#tinymce.mce-content-body .btn:disabled:hover,
#tinymce.mce-content-body .btn:disabled:focus,
#tinymce.mce-content-body .btn:disabled[disabled]:hover,
#tinymce.mce-content-body .btn:disabled[disabled]:focus {
  color: #bbb;
  background-color: #e5e5e5;
  border: none;
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#thelayer-editor-wrapper .slide_layer .btn-header,
#wpb_visual_composer .btn-header,
#tinymce.mce-content-body .btn-header {
  border: 0;
  background-color: rgba(196, 196, 196, 0.35);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .btn-header,
  #wpb_visual_composer .btn-header,
  #tinymce.mce-content-body .btn-header {
    padding: 0.9375rem 2.5rem;
    font-size: 1.125rem;
  }
  #thelayer-editor-wrapper .slide_layer .site-header--bg_dark .btn-header,
  #wpb_visual_composer .site-header--bg_dark .btn-header,
  #tinymce.mce-content-body .site-header--bg_dark .btn-header {
    color: #fff;
  }
}

#thelayer-editor-wrapper .slide_layer .clearfix:before, #thelayer-editor-wrapper .slide_layer .clearfix:after,
#wpb_visual_composer .clearfix:before,
#wpb_visual_composer .clearfix:after,
#tinymce.mce-content-body .clearfix:before,
#tinymce.mce-content-body .clearfix:after {
  content: " ";
  display: table;
}

#thelayer-editor-wrapper .slide_layer .clearfix:after,
#wpb_visual_composer .clearfix:after,
#tinymce.mce-content-body .clearfix:after {
  clear: both;
}

#thelayer-editor-wrapper .slide_layer .container,
#wpb_visual_composer .container,
#tinymce.mce-content-body .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 1170px;
  }
}

#thelayer-editor-wrapper .slide_layer .container-fluid,
#wpb_visual_composer .container-fluid,
#tinymce.mce-content-body .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .vc_row > .container,
  #wpb_visual_composer .vc_row > .container,
  #tinymce.mce-content-body .vc_row > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

#thelayer-editor-wrapper .slide_layer .text-justify,
#wpb_visual_composer .text-justify,
#tinymce.mce-content-body .text-justify {
  text-align: justify !important;
}

#thelayer-editor-wrapper .slide_layer .text-nowrap,
#wpb_visual_composer .text-nowrap,
#tinymce.mce-content-body .text-nowrap {
  white-space: nowrap !important;
}

#thelayer-editor-wrapper .slide_layer .text-truncate,
#wpb_visual_composer .text-truncate,
#tinymce.mce-content-body .text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#thelayer-editor-wrapper .slide_layer .text-left,
#wpb_visual_composer .text-left,
#tinymce.mce-content-body .text-left {
  text-align: left !important;
}

#thelayer-editor-wrapper .slide_layer .text-right,
#wpb_visual_composer .text-right,
#tinymce.mce-content-body .text-right {
  text-align: right !important;
}

#thelayer-editor-wrapper .slide_layer .text-center,
#wpb_visual_composer .text-center,
#tinymce.mce-content-body .text-center {
  text-align: center !important;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .text-sm-left,
  #wpb_visual_composer .text-sm-left,
  #tinymce.mce-content-body .text-sm-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-sm-right,
  #wpb_visual_composer .text-sm-right,
  #tinymce.mce-content-body .text-sm-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-sm-center,
  #wpb_visual_composer .text-sm-center,
  #tinymce.mce-content-body .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .text-md-left,
  #wpb_visual_composer .text-md-left,
  #tinymce.mce-content-body .text-md-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-md-right,
  #wpb_visual_composer .text-md-right,
  #tinymce.mce-content-body .text-md-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-md-center,
  #wpb_visual_composer .text-md-center,
  #tinymce.mce-content-body .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .text-lg-left,
  #wpb_visual_composer .text-lg-left,
  #tinymce.mce-content-body .text-lg-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-lg-right,
  #wpb_visual_composer .text-lg-right,
  #tinymce.mce-content-body .text-lg-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-lg-center,
  #wpb_visual_composer .text-lg-center,
  #tinymce.mce-content-body .text-lg-center {
    text-align: center !important;
  }
}

#thelayer-editor-wrapper .slide_layer .text-lowercase,
#wpb_visual_composer .text-lowercase,
#tinymce.mce-content-body .text-lowercase {
  text-transform: lowercase !important;
}

#thelayer-editor-wrapper .slide_layer .text-uppercase,
#wpb_visual_composer .text-uppercase,
#tinymce.mce-content-body .text-uppercase {
  text-transform: uppercase !important;
}

#thelayer-editor-wrapper .slide_layer .text-capitalize,
#wpb_visual_composer .text-capitalize,
#tinymce.mce-content-body .text-capitalize {
  text-transform: capitalize !important;
}

#thelayer-editor-wrapper .slide_layer .font-weight-normal,
#wpb_visual_composer .font-weight-normal,
#tinymce.mce-content-body .font-weight-normal {
  font-weight: normal !important;
}

#thelayer-editor-wrapper .slide_layer .font-weight-bold,
#wpb_visual_composer .font-weight-bold,
#tinymce.mce-content-body .font-weight-bold {
  font-weight: bold !important;
}

#thelayer-editor-wrapper .slide_layer .font-italic,
#wpb_visual_composer .font-italic,
#tinymce.mce-content-body .font-italic {
  font-style: italic !important;
}

#thelayer-editor-wrapper .slide_layer .text-white,
#wpb_visual_composer .text-white,
#tinymce.mce-content-body .text-white {
  color: #fff !important;
}

#thelayer-editor-wrapper .slide_layer .text-primary,
#wpb_visual_composer .text-primary,
#tinymce.mce-content-body .text-primary {
  color: #c71a1e !important;
}

#thelayer-editor-wrapper .slide_layer .text-secondary,
#wpb_visual_composer .text-secondary,
#tinymce.mce-content-body .text-secondary {
  color: #191824 !important;
}

#thelayer-editor-wrapper .slide_layer .bg-primary,
#wpb_visual_composer .bg-primary,
#tinymce.mce-content-body .bg-primary {
  background-color: #c71a1e !important;
}

#thelayer-editor-wrapper .slide_layer .bg-secondary,
#wpb_visual_composer .bg-secondary,
#tinymce.mce-content-body .bg-secondary {
  background-color: #191824 !important;
}

#thelayer-editor-wrapper .slide_layer .dark-bg,
#wpb_visual_composer .dark-bg,
#tinymce.mce-content-body .dark-bg {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#thelayer-editor-wrapper .slide_layer .dark-bg h1,
#thelayer-editor-wrapper .slide_layer .dark-bg h2,
#thelayer-editor-wrapper .slide_layer .dark-bg h3,
#wpb_visual_composer .dark-bg h1,
#wpb_visual_composer .dark-bg h2,
#wpb_visual_composer .dark-bg h3,
#tinymce.mce-content-body .dark-bg h1,
#tinymce.mce-content-body .dark-bg h2,
#tinymce.mce-content-body .dark-bg h3 {
  color: #fff;
}

@media (max-width: 767px) {
  #thelayer-editor-wrapper .slide_layer .hidden-xs,
  #wpb_visual_composer .hidden-xs,
  #tinymce.mce-content-body .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #thelayer-editor-wrapper .slide_layer .hidden-sm,
  #wpb_visual_composer .hidden-sm,
  #tinymce.mce-content-body .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #thelayer-editor-wrapper .slide_layer .hidden-md,
  #wpb_visual_composer .hidden-md,
  #tinymce.mce-content-body .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .hidden-lg,
  #wpb_visual_composer .hidden-lg,
  #tinymce.mce-content-body .hidden-lg {
    display: none !important;
  }
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn,
#tinymce.mce-content-body .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn {
  pointer-events: none;
}

#tinymce.mce-content-body a.btn {
  -ms-user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}

#wpb_visual_composer .text-white,
#tinymce.mce-content-body .text-white {
  color: inherit !important;
}

#wpb_visual_composer .wpb_vc_param_value.textarea_html {
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#wpb_visual_composer .wpb_goodtailor_pricing_box .textarea_html {
  text-align: center;
}
