@mixin button {
	@include user-select(none);
	position: relative;
	display: inline-block;
	padding: 0.625rem 2.125rem;
	border-radius: 25rem;
	border: 0;
	box-shadow: none;
	font-family: $font-family-base;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	line-height: $line-height-input;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease-out;
	color: #333;
	background-color: #ebe9eb;

	&:hover {
		color: $color-1;
		background-color: #dad8da;
	}
}

@mixin button-small {
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
}

@mixin button-large {
	padding: 0.75rem 2.125rem;
	font-size: 1.3125rem;
}

@function button-border-svg($height, $stroke_dasharray, $stroke_color: #333, $stroke_width: 1, $stroke_opacity: 1) {
	$border-radius: $height / 2;
	$stroke-color-str: str-replace(inspect($stroke-color), '#', '%23');
	@return url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='#{$border-radius}' ry='#{$border-radius}' fill='none' stroke='#{$stroke-color-str}' stroke-dasharray='#{$stroke-dasharray}' stroke-width='#{$stroke-width}' stroke-opacity='#{$stroke-opacity}' /></svg>");
}

@mixin button-primary {
	@include font-smoothing;
	border: 0;
	color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: $color-1;
	background-repeat: no-repeat, no-repeat;
	background-position: left 2px top 1px, left bottom;
	background-size: calc(100% - 4px) calc(100% - 2px), 100% 200%;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $color-1;
		background-position: left 2px top 1px, left top;
	}
}

@mixin button-primary-bg($height) {
	background-image: button-border-svg($height, '6,5', #fff, 2, 0.7),
	                  linear-gradient(lighten($color-1, 5%) 0%, lighten($color-1, 5%) 50%, darken($color-1, 8%) 100%);
}

@mixin button-secondary {
	color: #333;
	border-color: $input-border-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	background-repeat: no-repeat, no-repeat;
	background-position: left 2px top 1px, left bottom;
	background-size: calc(100% - 4px) calc(100% - 2px), 100% 200%;

	&:hover,
	&:focus {
		color: #333;
		border-color: #333;
		background-position: left 2px top 1px, left top;
	}
}

@mixin button-secondary-bg($height) {
	background-image: button-border-svg($height, '6,5', #333),
	                  linear-gradient(#f2f2f2 0%, #f2f2f2 50%, #e0e0e0 100%);
}

@mixin button-transparent {
	border: 0;
	background-color: rgba(#c4c4c4, 0.35);
}

@mixin button-disabled {
	color: #bbb;
	background-color: #e5e5e5;
	border: none;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: #bbb;
		background-color: #e5e5e5;
		border: none;
		transform: none;
		box-shadow: none;
	}
}

.btn {
	@include button;
}
.btn-large {
	@include button-large;
}
.btn-small {
	@include button-small;
}
/* Button styles */
.btn-primary {
	@include button-primary;
	@include button-primary-bg(48);
}
.btn-primary.btn-large {
	@include button-primary-bg(58);
}
.btn-primary.btn-small {
	@include button-primary-bg(34);
}
.btn-secondary {
	@include button-secondary;
	@include button-secondary-bg(48);
}
.btn-secondary.btn-large {
	@include button-secondary-bg(58);
}
.btn-secondary.btn-small {
	@include button-secondary-bg(34);
}
.btn-transparent {
	@include button-transparent;
}
/* Disabled button state */
.btn-disabled,
.btn:disabled,
.btn:disabled[disabled] {
	@include button-disabled;
}

/* Header button */
.btn-header {
	@include button-transparent;
	box-shadow: none;
}
@media (min-width: $screen-md-min) {
	.btn-header {
		padding: 0.9375rem 2.5rem;
		font-size: 1.125rem;
	}
	.site-header--bg_dark .btn-header {
		color: #fff;
	}
}
