/** WPBakery Page Builder plugin compatibility **/

/* VC Section Element */
.vc_section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.vc_section.vc_section.vc_section.vc_section.vc_section {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* VC Row vertical alignments */
.vc_row-flex > .container {
	display: flex;
	flex-flow: row wrap;
}
.vc_row-o-content-top > .container {
	align-items: flex-start;
}
.vc_row-o-content-middle > .container {
	align-items: center;
}
.vc_row-o-content-bottom > .container {
	align-items: flex-end;
}

/* Stretch VC Row columns to be equal height */
.vc_row-o-equal-height,
.vc_row-o-equal-height > .container,
.vc_row-o-equal-height > .container > .vc_column_container,
.vc_row-o-equal-height > .container > .vc_column_container > .vc_column-inner,
.vc_row-o-equal-height > .container > .vc_column_container > .vc_column-inner > .wpb_wrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

/* VC Google Maps Element */
.wpb_gmaps_widget .wpb_wrapper.wpb_wrapper.wpb_wrapper.wpb_wrapper.wpb_wrapper {
	padding: 0;
}


/** myStickymenu plugin compatibility **/
.site-header-navbar.myfixed {
	width: 100% !important;
}
.site-header-navbar.myfixed .site-header-blocks {
	display: none;
}
@media (max-width: $screen-sm-max) {
	.site-header-navbar.myfixed .site-header-branding {
		min-height: auto;
	}
	.site-header-navbar.myfixed .custom-logo {
		max-height: 3rem;
	}
	.site-header-navbar.myfixed .site-header-menu-toggle {
		padding: 0.75rem 1.25rem;
	}
	.is-menu-open .site-header-navbar.myfixed .site-header-blocks {
		display: block;
	}
}
@media (min-width: $screen-md-min) {
	.site-header-navbar.myfixed .container {
		align-items: center;
	}
	.site-header-navbar.myfixed .site-header-branding {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 2rem;
	}
	.site-header-navbar.myfixed .custom-logo {
		max-height: 3rem;
	}
	.site-header-navbar.myfixed .site-header-menu {
		flex: auto;
		width: auto;
	}
}
