/* Post entry */
.entry-title {
	margin-top: 0;
	margin-bottom: 1rem;
	word-wrap: break-word;
}
.entry-title,
.entry-title a {
	color: #000;
}
.entry-title a:hover {
	color: $color-1;
}
.entry-featured-image {
	margin-top: 2.125rem;
	margin-bottom: 2.5rem;
}
.entry-featured-image:first-child {
	margin-top: 0;
}
.entry-content {
	@include clearfix;
}
.entry-content > :first-child {
	margin-top: 0;
}
.entry-content > :last-child {
	margin-bottom: 0;
}
.entry-meta {
	margin-top: 1.5rem;
	margin-bottom: 1.6875rem;
	font-size: 0.875rem;
	color: $text-color-gray;
}
.entry-meta:last-child {
	margin-bottom: 0;
}
.entry-meta a {
	color: $text-color;
}
.entry-meta a:hover {
	color: $color-1;
}
.entry-meta-separator {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.sticky .entry-sticky-badge {
	@include font-smoothing;
	@include user-select(none);
	display: inline-block;
	height: 1.625rem;
	line-height: 1.625rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	margin-right: 1rem;
	border-radius: 0.75rem / 50%;
	background-color: #b4b4b4;
	color: #fff;
	cursor: default;
}
.entry-footer {
	@include font-smoothing;
	margin-top: 2rem;
	font-size: 0.875rem;
}
.entry-tags,
.entry-share {
	margin-bottom: 0.5rem;
	font-weight: bold;
	color: #333;
}
.entry-tags a {
	font-weight: normal;
	color: #666;
}
.entry-tags a:hover {
	color: $color-1;
}
.entry-share a {
	position: relative;
	top: 0.375rem;
	display: inline-block;
	margin-left: 1rem;
	font-family: 'typicons';
	font-size: 2.25rem;
	line-height: 2.25rem;
	font-weight: normal;
	color: #959595;
	transition: all 0.2s ease-out;
}
.entry-share a:hover {
	top: 0.1875rem;
}
.entry-share a[href*="facebook.com"]::before {
	content: '\e0e4';
}
.entry-share a[href*="facebook.com"]:hover {
	color: #3b5998;
}
.entry-share a[href*="twitter.com"]::before {
	content: '\e0f8';
}
.entry-share a[href*="twitter.com"]:hover {
	color: #1da1f2;
}
.entry-share a[href*="google.com"]::before {
	content: '\e0ea';
}
.entry-share a[href*="google.com"]:hover {
	color: #db4a39;
}
.entry-share a[href*="linkedin.com"]::before {
	content: '\e0f0';
}
.entry-share a[href*="linkedin.com"]:hover {
	color: #0077b5;
}

/* Page content */
.page-content-wrap > *:last-child {
	margin-bottom: 0;
}

/* Comments */
.entry + .comments-area {
	margin-top: 2.3125rem;
	border-top: 1px solid #c4c4c4;
}
.comments-area {
	padding-top: 4.875rem;
}
.comments-title {
	margin-top: 0;
	margin-bottom: 2.8125rem;
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
}
/* Comments list */
.comments-list,
.comments-list .children {
	list-style: none;
}
.comments-list {
	padding-left: 0;
}
.comments-list .comment {
	margin-bottom: 3rem;
}
.comments-list .comment:last-child {
	margin-bottom: 0;
}
.comments-list .comment .children {
	padding-left: 3.75rem;
	margin-top: 3rem;
}
/* Comments Navigation */
.comments-nav {
	@include clearfix;
	margin-top: 4.625rem;
}
.comments-nav a {
	color: #333;
}
.comments-nav a:hover,
.comments-nav a:focus {
	color: $color-1;
}
.comments-nav-prev {
	float: left;
}
.comments-nav-next {
	float: right;
}
/* "Comments closed" message */
.comments-closed {
	margin-top: 5rem;
	margin-bottom: 1.375rem;
	font-style: italic;
	text-align: center;
	color: #959595;
}

/* Comment content */
.comment-body {
	position: relative;
}
.comment-footer {
	min-height: 4rem;
	margin-bottom: 0.5rem;
}
.comment-author-avatar {
	float: left;
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	border-radius: 50%;
}
.comment-author-name {
	position: relative;
	top: -0.5rem;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: bold;
}
.comment-author-name,
.comment-author-name a {
	color: #333;
}
.comment-author-label {
	@include user-select(none);
	position: relative;
	left: 0.5rem;
	top: -0.625rem;
	display: inline-block;
	padding: 0 0.625rem;
	font-size: 0.6875rem;
	border: 1px solid #959595;
	border-radius: 19% / 50%;
	cursor: default;
	white-space: nowrap;
}
.comment-date {
	margin-top: -0.5rem;
	font-size: 0.8125rem;
}
.comment-date a {
	color: #959595;
}
.comment-date a:hover {
	color: $color-1;
}
.comment-actions {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.875rem;
}
.comment-actions a {
	display: inline-block;
	margin-left: 1.5rem;
	color: #333;
}
.comment-actions a:hover {
	color: $color-1;
}
.comment-edit-link::before,
.comment-reply-link::before {
	@include font-smoothing;
	font-family: 'typicons';
	margin-right: 0.25rem;
}
.comment-edit-link::before {
	content: '\e0c3';
}
.comment-reply-link::before {
	content: '\e006';
}
.comment-awaiting-moderation {
	font-size: 0.875rem;
	font-style: italic;
	color: #959595;
}
.comment-content {
	clear: both;
	font-size: 0.875rem;
}
.comment-content :first-child {
	margin-top: 0;
}
.comment-content :last-child {
	margin-bottom: 0;
}
/* A Comment by Post Author */
.bypostauthor .comment-author-label {
	border-color: #333;
	background-color: #333;
	color: #fff;
}

/* Comment Respond */
.comment-respond {
	margin-top: 4.875rem;
}
.comment-respond:first-child {
	margin-top: 0;
}
.comment-respond .comment-reply-title {
	margin-top: 0;
	margin-bottom: 0.6875rem;
	text-align: center;
}
/* Comment Respond inside Comment */
.comment .comment-respond {
	padding-left: 3.75rem;
	margin-top: 1.75rem;
	margin-bottom: 2.5rem;
}

/* Alignment */
.alignleft,
.alignright,
.aligncenter,
.alignnone {
	margin-top: 0.5625rem;
	margin-bottom: 0.5625rem;
}
.alignleft {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 1.875rem;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.875rem;
	margin-right: 0;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Caption */
.wp-caption,
.gallery-caption {
	max-width: 100%;
	font-size: 0.875rem;
	text-align: center;
	color: $text-color-gray;
}
.wp-caption .wp-caption-text {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

/* Gallery */
.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.gallery-item {
	margin-right: 1%;
	margin-left: 1%;
	flex: 0 0 30%;
	width: 30%;
	max-width: 30%;
}
.gallery-item img {
	margin: 0 auto;
}
.gallery-columns-1 .gallery-item {
	margin-right: 0;
	margin-left: 0;
	flex: 0 0 100%;
	width: 100%;
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	flex: 0 0 48%;
	width: 48%;
	max-width: 48%;
}

/* 404 pages */
.error-404 {
	text-align: center;
}
