/* Section */
.section {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Section Heading */
.section-heading {
	padding-top: 3.5rem;
	margin-bottom: 2.5rem;
}
.section-heading h1,
.section-heading h2,
.section-heading h3,
.section-heading h4,
.section-heading h5,
.section-heading h6 {
	@include font-smoothing;
	margin-top: 0;
	margin-bottom: 0.75rem;
	font-family: $font-family-serif;
	font-size: 2.25rem;
	font-weight: normal;
	letter-spacing: 0.0625rem;
	color: #000;
}
.section-heading p {
	max-width: 34rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.875rem;
	color: #888;
}
.section-heading--decor-1 h1::after,
.section-heading--decor-1 h2::after,
.section-heading--decor-1 h3::after,
.section-heading--decor-1 h4::after,
.section-heading--decor-1 h5::after,
.section-heading--decor-1 h6::after {
	@include font-smoothing;
	display: block;
	width: 3.625rem;
	margin-top: 0.625rem;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid;
	font-family: 'typicons';
	font-size: 1.1875rem;
	font-weight: normal;
	content: '\e0b2';
	line-height: 0;
}

/* Carousels */
.bt-carousel .owl-item > * {
	margin-left: auto;
	margin-right: auto;
	transform: translate3d(0, 0, 0);
}
.bt-carousel .owl-dots {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2.8125rem;
	margin-bottom: 2.8125rem;
}
.bt-carousel .owl-dot,
.bt-carousel button.owl-dot {
	width: 1rem;
	height: 1rem;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	border-radius: 50%;
	border: 1px solid #333;
}
.bt-carousel .owl-dot.active,
.bt-carousel button.owl-dot.active {
	border-color: lighten($color-1, 10%);
	background-color: lighten($color-1, 10%);
}
.bt-carousel[data-equal-heights] .owl-item > * {
	height: 100%;
}

/* Grids */
.bt-grid-items-container {
	margin-left: -1rem;
	margin-right: -1rem;
}
.bt-grid-item {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
}
.bt-grid-item > * {
	height: 100%;
}
@media (min-width: $screen-sm-min) {
	.bt-grid-items-container {
		display: flex;
		flex-flow: row wrap;
	}
	.bt-grid-item {
		flex: none;
		width: 50%;
		min-width: 0;
	}
}
@media (min-width: $screen-md-min) {
	.bt-grid-item {
		width: 33.33333%;
	}
}
@media (min-width: $screen-lg-min) {
	.bt-grid--columns-4 .bt-grid-item {
		width: 25%;
	}
}
/* Grid filters */
.bt-grid-filters-container {
	margin-top: -0.5rem;
	margin-bottom: 1.75rem;
	font-size: 0.875rem;
	line-height: 1.5;
	text-align: center;
}
.bt-grid-filters-title {
	display: inline-block;
	margin-right: 0.5rem;
}
.bt-grid-filter {
	@include user-select(none);
	display: inline-block;
	margin-bottom: 0.75rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: transparent;
	border: none;
	color: #959595;
	cursor: pointer;
	transition: color 0.3s;
}
.bt-grid-filter:hover,
.bt-grid-filter.is-active {
	color: $text-color;
}
.bt-grid-filter.is-active {
	text-decoration: underline;
}
.bt-grid-filter:hover:focus {
	outline: none;
}

/* Services carousel */
.services-carousel .owl-stage {
	padding-bottom: 1rem;
}
.services-carousel .owl-dots {
	margin-top: 1.8125rem;
}

/* Services grid */
.services-grid .bt-grid-item {
	margin-bottom: 3rem;
}
.services-grid--stars .bt-grid-item {
	margin-bottom: 4rem;
}

/* Service preview in Star shape */
.service-star {
	width: 291px;
	margin-left: auto;
	margin-right: auto;
}
.service-star-svg {
	display: block;
	width: 291px;
	height: 291px;
	margin-left: auto;
	margin-right: auto;
}
.service-star-title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: $font-family-serif;
	font-size: 1.75rem;
	font-weight: normal;
	text-align: center;
	color: #000;
}
.service-star-title::before {
	content: '';
	display: block;
	width: 4.375rem;
	margin-top: 1.875rem;
	margin-bottom: 1.625rem;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid;
	border-color: #828282;
}
@media (min-width: $screen-md-min) {
	.service-star-clip-path,
	.service-star-svg-image {
		transform-origin: 50% 50%;
		transition: all 0.6s;
	}
	.service-star-title {
		transition: all 0.3s;
	}
	.service-star:hover .service-star-clip-path {
		transform: rotate(6deg);
	}
	.service-star:hover .service-star-svg-image {
		transform: rotate(-6deg) scale(1.08);
	}
	.service-star:hover .service-star-title {
		color: $color-1;
	}
}

/* Service preview card */
.service-card {
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: #f5f5f5;
	transform: translate3d(0, 0, 0);
}
.service-card-image {
	position: relative;
	padding-top: 75%;
	overflow: hidden;
}
.service-card-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% + 0.5rem);
	object-fit: cover;
}
.service-card-title {
	margin-top: 3rem;
	margin-bottom: 3.25rem;
	font-family: $font-family-serif;
	font-size: 1.6825rem;
	font-weight: normal;
	text-align: center;
	color: #000;
}
@media (min-width: $screen-md-min) {
	.service-card,
	.service-card-image img {
		transition: all 0.4s;
	}
	.service-card .service-card-title {
		transition: all 0.2s;
	}
	.service-card:hover {
		box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
	}
	.service-card:hover .service-card-image img {
		transform: translateY(-0.5rem);
	}
	.service-card:hover .service-card-title {
		color: $color-1;
	}
}

/* Feature box */
.feature-box-icon {
	@include font-smoothing;
}
.feature-box-copy-wrap > *:first-child {
	margin-top: 0;
}
.feature-box-copy-wrap > *:last-child {
	margin-bottom: 0;
}
/* Feature box style 1 */
.feature-box--style-1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 2.25rem;
}
.feature-box--style-1 .feature-box-icon {
	align-self: flex-start;
	flex-shrink: 0;
	margin-right: 1rem;
	width: 3rem;
	height: 3rem;
	line-height: 3.9375rem;
	line-height: calc(3rem - 1px);
	font-size: 2.25rem;
	text-align: center;
	color: $color-1;
}
/* Feature box style 2 */
.feature-box--style-2 {
	margin-bottom: 1rem;
	overflow: hidden;
	background-color: #fff;
	transform: translate3d(0, 0, 0);
}
.feature-box--style-2 .feature-box-image-wrap {
	position: relative;
	left: -50%;
	width: 200%;
	height: 28rem;
	margin-top: -18.25rem;
	border-radius: 50%;
	overflow: hidden;
}
.feature-box--style-2 .feature-box-image {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
	height: 9.75rem;
	object-fit: cover;
}
.feature-box--style-2 .feature-box-icon {
	position: relative;
	width: 3rem;
	height: 3rem;
	line-height: 3.9375rem;
	line-height: calc(3rem - 1px);
	margin: 0.75rem auto -1rem;
	font-size: 2.25rem;
	text-align: center;
	color: $color-1;
}
.feature-box--style-2 .feature-box-copy-wrap {
	padding: 1.75rem 1.25rem 1.25rem;
	font-size: 0.875rem;
	text-align: center;
}

/* Testimonial item */
.testimonial-item {
	@include undo-font-smoothing;
	position: relative;
	max-width: 32.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2.875rem;
	padding-left: 0;
	border-left: 0;
	font-size: 0.875rem;
	text-align: center;
}
.testimonial-item footer::before {
	content: '';
}
.testimonial-item::before {
	@include font-smoothing;
	position: absolute;
	top: -0.625rem;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	font-family: $font-family-serif;
	font-size: 4.5rem;
	line-height: 1;
	letter-spacing: 0;
	text-align: center;
	color: $color-1;
	content: '“';
}
.testimonial-item-text {
	margin-bottom: 1.5rem;
}
.testimonial-item-text > *:last-child {
	margin-bottom: 0;
}
.testimonial-item-image {
	width: 3.875rem;
	height: 3.875rem;
	margin: 0 auto 1rem;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial-item-image img {
	display: block;
	width: 100%;
	height: 100%;
}
.testimonial-item-author {
	display: block;
	font-weight: bold;
	line-height: 1.571;
	color: #333;
}
.testimonial-item-author-subtitle {
	display: block;
	font-style: italic;
	line-height: 1.571;
	color: #333;
}

/* Logo box */
.logo-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.25rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
.logo-box-item {
	max-width: 14rem;
	max-height: 8rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.logo-box-item-image {
	max-width: 100%;
	height: auto;
}
@media (min-width: $screen-md-min) {
	.logo-box {
		justify-content: space-between;
	}
}

/* Icon list */
.icon-list {
	padding-left: 0;
}
.icon-list li {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.3125rem;
}
/* The icon */
.icon-list li i:first-child {
	@include font-smoothing;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-size: 1.125rem;
	font-style: normal;
	line-height: 1.5;
	color: lighten($color-1, 10%);
}

/* Working hours list */
.working-hours-list {
	padding-left: 0;
	max-width: 32rem;
}
.working-hours-list li {
	display: flex;
	flex-direction: row;
}
/* Hours */
.working-hours-list li span:last-child {
	flex: 0 0 auto;
	padding-left: 1rem;
}
/* Weekday */
.working-hours-list li span:first-child {
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
}
/* Dot leaders decoration */
.working-hours-list li span:first-child::after {
	flex: 1 0 0;
	align-self: flex-end;
	position: relative;
	top: -0.5rem;
	display: block;
	height: 0.125rem;
	margin-left: 0.125rem;
	border-bottom: 0.125rem dotted;
	content: '';
}

/* Scroll to top */
.scroll-to-top {
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.75rem;
	border-radius: 50%;
	text-align: center;
	color: #d1d1d1;
	background-color: $color-2;
}
.scroll-to-top::after {
	@include font-smoothing;
	position: relative;
	font-family: 'typicons';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: normal;
	content: '\e023';
}

/* Text+Image Block */
.text-image-block-image {
	position: relative;
	margin-left: -1rem;
	margin-right: -1rem;
	height: 300px;
}
.text-image-block-image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (max-width: $screen-sm-max) {
	.text-image-block-image {
		display: none;
	}
}
@media (min-width: $screen-md-min) {
	.text-image-block {
		display: flex;
		flex-direction: row;
	}
	.text-image-block-image {
		flex: 0 0 calc(42% + 8rem);
		width: calc(42% + 8rem);
		max-width: calc(42% + 8rem);
		height: auto;
		margin-left: -8rem;
		margin-right: 0;
	}
	.text-image-block-text {
		flex: 0 0 58%;
		width: 58%;
		max-width: 58%;
		padding-bottom: 1.125rem;
		padding-left: 2rem;
	}
	.text-image-block--image-right .text-image-block-image {
		order: 1;
		margin-left: 0;
		margin-right: -8rem;
	}
	.text-image-block--image-right .text-image-block-text {
		padding-left: 0;
		padding-right: 2rem;
	}
}
@media (min-width: $screen-lg-min) {
	.text-image-block-image {
		flex-basis: calc(45% + 10rem);
		width: calc(45% + 10rem);
		max-width: calc(45% + 10rem);
		margin-left: -10rem;
	}
	.text-image-block-text {
		flex-basis: 55%;
		width: 55%;
		max-width: 55%;
	}
	.text-image-block--image-right .text-image-block-image {
		margin-left: 0;
		margin-right: -10rem;
	}
}

/* Three Recent Posts Feed */
.three-recent-posts {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 2.75rem;
}
.three-recent-posts-column:not(:first-child) {
	display: none;
}
.three-recent-posts-column {
	flex: 1 0 auto;
	width: 100%;
}
.three-recent-posts-column > * {
	height: 100%;
}
@media (min-width: $screen-sm-min) {
	.three-recent-posts {
		margin-left: -1rem;
		margin-right: -1rem;
	}
	.three-recent-posts-column {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.three-recent-posts-column:first-child {
		width: 50%;
	}
	.three-recent-posts-column:nth-child(2) {
		display: block;
		width: 50%;
	}
}
@media (min-width: $screen-md-min) {
	.three-recent-posts-column:first-child {
		width: 33.333333%;
	}
	.three-recent-posts-column:nth-child(2) {
		width: 33.333333%;
	}
	.three-recent-posts-column:nth-child(3) {
		display: block;
		width: 33.333333%;
	}
}

/* Blog post preview card */
.article-card {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.07);
}
.article-card-image {
	height: 13rem;
	background-color: #f8f8f8;
}
.article-card-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-card-copy {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	text-align: center;
	background-color: #fff;
}
.article-card-copy::before {
	content: '';
	display: block;
	width: 6.625rem;
	margin-bottom: 1.625rem;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid;
	border-color: #828282;
}
.article-card-title {
	@include line-clamp(1, 2rem);
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.75rem;
	color: #000;
	transition: all 0.2s;
}
.article-card-title:hover {
	color: $color-1;
}
.article-card-text {
	@include line-clamp(3);
	margin-bottom: 1rem;
	font-size: 0.875rem;
	color: $text-color;
}
.article-card-text > :last-child {
	margin-bottom: 0;
}
.article-card-meta {
	@include font-smoothing;
	margin-top: auto;
	font-size: 0.875rem;
}
.article-card-meta,
.article-card-meta a {
	color: #929292;
}
.article-card-meta a:hover {
	color: $color-1;
}
.article-card-meta-separator {
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
@media (min-width: $screen-sm-min) {
	.article-card-image {
		height: 16.25rem;
	}
	.article-card-copy {
		height: calc(100% - 16.25rem);
	}
}

/* Call To Action */
.call-to-act {
	font-family: $font-family-serif;
	font-weight: normal;
	line-height: $line-height-heading;
}
.call-to-act h1,
.call-to-act h2,
.call-to-act h3,
.call-to-act h4,
.call-to-act h5,
.call-to-act h6 {
	margin-top: 0;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.call-to-act p {
	line-height: inherit;
}
.call-to-act-copy-wrap :last-child {
	margin-bottom: 0;
}
@media (max-width: $screen-sm-max) {
	.call-to-act {
		text-align: center;
	}
}
/* Call To Action Vertical style */
.call-to-act--vertical {
	margin-top: 3.5rem;
	margin-bottom: 3.75rem;
}
.call-to-act--vertical h1,
.call-to-act--vertical h2,
.call-to-act--vertical h3,
.call-to-act--vertical h4,
.call-to-act--vertical h5,
.call-to-act--vertical h6 {
	margin-bottom: 1.5rem;
	font-size: 1.875rem;
}
.call-to-act--vertical p {
	font-size: 2.75rem;
	letter-spacing: 0.0625rem;
}
.call-to-act--vertical .call-to-act-copy-wrap {
	@include font-smoothing;
	margin-bottom: 2rem;
}
/* Call To Action Horizontal style */
.call-to-act--horizontal {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.call-to-act--horizontal h1,
.call-to-act--horizontal h2,
.call-to-act--horizontal h3,
.call-to-act--horizontal h4,
.call-to-act--horizontal h5,
.call-to-act--horizontal h6 {
	margin-bottom: 1.0625rem;
	font-size: 1.5rem;
}
.call-to-act--horizontal p {
	font-size: 2rem;
}
.call-to-act--horizontal .call-to-act-copy-wrap {
	@include font-smoothing;
	margin-bottom: 1.75rem;
}
@media (min-width: $screen-md-min) {
	.call-to-act--horizontal {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.call-to-act--horizontal h1,
	.call-to-act--horizontal h2,
	.call-to-act--horizontal h3,
	.call-to-act--horizontal h4,
	.call-to-act--horizontal h5,
	.call-to-act--horizontal h6 {
		margin-bottom: 0.3125rem;
		font-size: 1.4375rem;
	}
	.call-to-act--horizontal .call-to-act-copy-wrap {
		margin-bottom: 0;
	}
}

/* Service Table */
.service-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: none;
	font-size: 0.875rem;
}
.service-table thead tr {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ddd;
	background-color: #ddd;
}
.service-table tbody tr {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: $border-color;
}
.service-table th,
.service-table td {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	border: none;
}

/* Pricing box */
.pricing-box {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	padding: 2.6875rem;
	text-align: center;
	background-color: #fff;
	background-size: 100% 100%;
	background-position: left top;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' fill='none' stroke='%23000' stroke-dasharray='6,2' stroke-width='1'/></svg>");
}
.pricing-box--featured {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' fill='none' stroke='%23333' stroke-dasharray='11,2' stroke-width='4'/></svg>");
}
.pricing-box > *:last-child {
	margin-bottom: 0;
}
.pricing-box h1,
.pricing-box h2,
.pricing-box h3,
.pricing-box h4,
.pricing-box h5,
.pricing-box h6 {
	margin-top: 0;
	margin-bottom: 1.375rem;
}
.pricing-box h1,
.pricing-box h2,
.pricing-box h3 {
	font-size: 1.875rem;
}
.pricing-box p {
	margin-bottom: 1.4375rem;
	color: #777;
}
.pricing-box .price {
	font-family: $font-family-serif;
	font-size: 3rem;
	font-weight: normal;
	color: #000;
}
.pricing-box .btn {
	margin-bottom: 0.25rem;
}
.pricing-box ul {
	padding-left: 0;
	list-style: none;
}
