/* Footer typography */
.site-footer {
	font-size: 0.875rem;
	color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

/* Footer top part */
.footer-top-wrap {
	@include horizontal-dash-line(top, #e0e0e0, 7px, 4px);
	padding-top: 4.625rem;
	padding-bottom: 1.375rem;
	overflow: hidden;
	background-color: #fefefe;
}

/* Footer widgets */
@media (min-width: $screen-md-min) {
	.footer-widgets {
		display: flex;
		flex-flow: row;
		margin-left: -1rem;
		margin-right: -1rem;
	}
	.footer-widgets #sb_instagram {
		padding-top: 0.5rem;
	}
	.footer-widgets-column {
		flex: 1 0 0;
		min-width: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Footer bottom part */
.footer-bottom-wrap {
	@include font-smoothing;
	overflow: hidden;
	background-color: #111;
	color: #fff;
}
.footer-bottom-wrap .container {
	min-height: 6.25rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.footer-bottom-wrap .footer-tagline,
.footer-bottom-wrap .footer-navigation {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.footer-bottom-wrap .footer-tagline {
	text-align: center;
}
@media (min-width: $screen-md-min) {
	.footer-bottom-wrap .container {
		display: flex;
		flex-direction: row;
	}
	.footer-bottom-wrap .footer-tagline {
		flex: 1 0 0;
		text-align: left;
	}
}

/* Footer bottom links */
.footer-bottom-wrap a {
	position: relative;
	display: inline-block;
	color: #fff;
}
.footer-bottom-wrap a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	border-bottom: 1px solid;
	opacity: 0;
	transform: translateY(0.5rem);
	transition: all 0.2s;
}
.footer-bottom-wrap a:hover::after {
	opacity: 1;
	transform: translateY(0);
}

/* Footer tagline */
.footer-tagline a {
	color: #fff;
	font-style: italic;
}
