input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	width: 100%;
	padding: 0.6125rem 1.125rem;
	line-height: $line-height-input;
	vertical-align: middle;
	box-shadow: none;
	border-radius: 1.4375rem;
	border: 1px solid;
	border-color: $input-border-color;
	background-color: #fff;
	color: #333;
	transition-property: border-color, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;

	&:focus {
		border-color: #828282;
		outline: none;
	}
}
textarea {
	border-radius: 0.5rem;
}

/* Search form */
.search-form {
	position: relative;
	font-size: 0.875rem;
	max-width: 22rem;
}
.search-form .search-submit {
	position: absolute;
	top: 0.125rem;
	bottom: 0.125rem;
	right: 0.125rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	border: 0;
	line-height: 0.9375;
	color: #828282;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.2s;
}
.search-form .search-submit:hover {
	color: $color-1;
}
.search-form .search-submit	.icon {
	@include font-smoothing;
	font-size: 2.25rem;
}
/* Search Form on Sidebar */
.sidebar-content .search-form {
	max-width: 25rem;
}
/* Search Form on 404 page */
.error-404 .search-form {
	display: inline-block;
	max-width: 100%;
	width: 20rem;
}

/* Comment form */
.comment-form {
	font-size: 0.875rem;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	border-color: #ddd;
}
.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form input[type="url"]:focus,
.comment-form textarea:focus {
	border-color: #333;
}
.comment-form p {
	margin-bottom: 1.875rem;
}
.comment-form .comment-notes {
	text-align: center;
	color: #959595;
}
.comment-form .logged-in-as {
	text-align: center;
}
.comment-form .comment-form-cookies-consent {
	margin-left: 0.375rem;
	margin-right: 0.375rem;
}
.comment-form .comment-form-cookies-consent label {
	display: inline;
	margin-left: 0.375rem;
	margin-right: 0.375rem;
}
.comment-form .form-submit {
	margin-top: 1.75rem;
	margin-bottom: 0;
	text-align: center;
}

/* Post Password Form */
.post-password-form p:last-child {
	padding: 2rem;
	text-align: center;
	background-color: #f9f9f9;
}
.post-password-form input[type="password"] {
	width: 100%;
	margin: 0.5rem 0 1rem;
}
.post-password-form input[type="submit"] {
	@include button;
}
@media (min-width: $screen-sm-min) {
	.post-password-form input[type="password"] {
		width: auto;
		margin: 0 1rem 0 0.75rem;
	}
}

/* Contact Form 7 */
.wpcf7 {
	font-size: 0.875rem;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 input[type="password"],
.wpcf7 input[type="search"],
.wpcf7 input[type="number"],
.wpcf7 input[type="tel"],
.wpcf7 textarea {
	background-color: transparent;
	border-color: #959595;
}
.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 input[type="url"]:focus,
.wpcf7 input[type="password"]:focus,
.wpcf7 input[type="search"]:focus,
.wpcf7 input[type="number"]:focus,
.wpcf7 input[type="tel"]:focus,
.wpcf7 textarea:focus {
	background-color: #fff;
	border-color: #333;
}
.wpcf7 label {
	display: inline-block;
	margin-bottom: 0.25rem;
}
.wpcf7 .form-notes {
	margin-bottom: 1rem;
	text-align: center;
	color: #959595;
}
.wpcf7-submit {
	margin-top: 0.375rem;
}
.wpcf7-response-output {
	text-align: center;
}
div.wpcf7 .ajax-loader {
	position: relative;
	top: 0.125rem;
	left: 0.5rem;
}
