.site-header {
	position: relative;
}

/* Transparent header */
@media (min-width: $screen-md-min) {
	.site-header--layout_transparent {
		position: absolute;
		z-index: 100;
		left: 0;
		width: 100%;
	}
}

/* Header top bar */
.site-header-top {
	@include font-smoothing;
	height: 50px;
	background-color: rgba($color-2, 0.9);
	color: $text-color-light;
}
.site-header-top a {
	color: $text-color-light;
}
.site-header-top .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@media (max-width: $screen-xs-max) {
	.site-header-top {
		display: none;
	}
}

/* Header branding */
.site-header-branding {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 4rem;
	min-height: 4rem;
}
.site-branding-text .site-title {
	margin-top: 0;
	margin-bottom: 0.25rem;
	font-family: $font-family-serif;
	line-height: $line-height-heading;
	font-size: 1.25rem;
	letter-spacing: 0.0625rem;
}
.site-branding-text .site-title,
.site-branding-text .site-title a {
	color: $text-color-dark;
}
.site-branding-text .site-description {
	margin-bottom: 0;
	font-size: 0.875rem;
	line-height: $line-height-heading;
}
.hide-site-branding-text .site-branding-text {
	@include screen-reader-text;
}
.custom-logo {
	display: block;
	width: auto;
	height: auto;
	max-width: 60vw;
	max-height: 4rem;
	margin-right: 0.5rem;
}
.custom-logo-light:not(:first-of-type) {
	display: none;
}
@media (min-width: $screen-md-min) {
	.site-branding-text .site-title {
		font-size: 1.75rem;
	}
	.site-header-branding .container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	.custom-logo {
		max-height: 5.125rem;
	}
	.site-header--bg_dark .site-header-navbar:not(.myfixed) .site-branding-text .site-title,
	.site-header--bg_dark .site-header-navbar:not(.myfixed) .site-branding-text .site-title a,
	.site-header--bg_dark .site-header-navbar:not(.myfixed) .site-branding-text .site-description {
		color: $text-color-light;
	}
	.site-header--bg_dark .site-header-navbar:not(.myfixed) .custom-logo:not(:last-of-type) {
		display: none;
	}
	.site-header--bg_dark .site-header-navbar:not(.myfixed) .custom-logo-light {
		display: block;
	}
}

/* Menu toggle button */
.site-header-menu-toggle {
	padding: 1.25rem;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;
}
.site-header-menu-toggle .menu-toggle-bar {
	display: block;
	height: 3px;
	width: 24px;
	border-radius: 3px;
	background-color: #333;
	transition: all 0.1s ease-in;
}
.site-header-menu-toggle .menu-toggle-bar + .menu-toggle-bar {
	margin-top: 3px;
}
.site-header-menu-toggle.is-open .menu-toggle-bar {
	transition-timing-function: ease-out;
}
.site-header-menu-toggle.is-open .menu-toggle-bar-1 {
	transform: translateY(6px) rotate(-45deg);
}
.site-header-menu-toggle.is-open .menu-toggle-bar-2 {
	opacity: 0;
}
.site-header-menu-toggle.is-open .menu-toggle-bar-3 {
	transform: translateY(-6px) rotate(45deg);
}

/* Header Info Blocks container */
.site-header-blocks-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (min-width: 420px) {
	.site-header-blocks-column {
		flex-direction: row;
	}
}
@media (min-width: $screen-md-min) {
	.site-header-blocks {
		display: flex;
		flex-direction: row-reverse;
	}
	.site-header-blocks-column {
		flex-direction: row-reverse;
	}
}

/* Header Info Block item */
.header-info-block {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.header-info-block a {
	color: inherit;
}
.header-info-block-icon {
	@include font-smoothing;
	margin-right: 0.5rem;
	text-align: center;
	font-size: 1.875rem;
	line-height: 1;
	color: $color-1;
}
.header-info-block-text {
	line-height: 1.375;
	font-size: 0.9375rem;
}
.header-info-block-text p {
	margin-bottom: 0;
}
.goodtailor-customizer .header-info-block-placeholder {
	margin-left: 1rem;
	width: 10rem;
	min-height: 3rem;
	max-height: 100%;
	border: 1px dashed;
	border-color: #3486b7;
}
@media (min-width: $screen-sm-min) {
	.header-info-block {
		padding-left: 1rem;
		padding-right: 1rem;
		justify-content: space-between;
		align-items: center;
	}
	.header-info-block-text {
		font-size: 0.8125rem;
	}
}
/* Header Info Block Icon Circled style */
.header-info-block-icon.header-info-block-icon--circled {
	min-width: 3rem;
	min-height: 3rem;
	width: 3rem;
	height: 3rem;
	line-height: 2.86rem;
	line-height: calc(3rem - 2px);
	margin-right: 1rem;
	border-radius: 50%;
	text-align: center;
	background-color: $color-1;
	color: #fff;
}

/* Header navbar layout */
.site-header-navbar .container {
	position: relative;
}
.site-header-navbar .site-header-branding {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.site-header-navbar .site-header-menu {
	margin-bottom: 1rem;
}
.site-header-navbar .site-header-blocks {
	margin-bottom: 0.75rem;
}
.site-header-navbar .site-header-menu-toggle {
	position: absolute;
	top: 0.25rem;
	right: 0;
}
@media (max-width: $screen-sm-max) {
	.is-menu-open {
		/* Kill the scroll on the html or body elements */
		overflow: hidden;
	}
	.is-menu-open .site-header-navbar {
		max-height: 100vh;
		overflow: scroll;
	}
	.js .site-header-navbar .site-header-menu:not(.is-open),
	.no-js .site-header-navbar .site-header-menu:not(:target) {
		display: none;
	}
}
@media (min-width: $screen-md-min) {
	.site-header-navbar {
		background-image: linear-gradient(#f5f5f5 0%, #f5f5f5 100%);
		background-size: 100% 1px;
		background-repeat: no-repeat;
		background-position: bottom 3rem left;
	}
	.site-header-navbar .container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.site-header-navbar .site-header-branding {
		flex: none;
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	.site-header-navbar .site-header-menu {
		flex: 1 0 auto;
		width: 100%;
		order: 1;
		margin-bottom: 0;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}
	.site-header-navbar .site-header-blocks {
		flex: 1 0 0;
		width: 0;
		margin-top: 0.75rem;
		margin-right: -1rem;
	}
	.site-header-navbar .site-header-menu-toggle {
		display: none;
	}
	.site-header--bg_dark .site-header-navbar {
		background-image: linear-gradient(rgba(#fff, 0.3) 0%, rgba(#fff, 0.3) 100%);
	}
}

/* Page Header */
.page-header {
	position: relative;
	height: 14rem;
}
.page-header-image {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.page-header-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Page Title */
.page-header-title-wrap {
	height: 100%;
	text-align: center;
	background-color: $color-2;
}
.page-header-title-wrap .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.page-header-title {
	@include font-smoothing;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.25rem;
	color: #fff;
}

/* Page Header Wavy decoration */
.page-header-decor-top,
.page-header-decor-bottom {
	position: absolute;
	left: 0;
	width: 100%;
	height: 5px;
	background-size: 18px 5px;
	background-repeat: repeat-x;
	background-position: center;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18px' height='5px' viewBox='0 0 18 5'><path d='M18,0c-0.6,0-1.2,0.1-1.8,0.3C15.7,0.4,15.3,0.7,15,1l-3.1,3.1c-0.3,0.3-0.7,0.5-1.2,0.7C10.2,4.9,9.6,5,9,5C8.4,5,7.8,4.9,7.3,4.8C6.8,4.6,6.4,4.4,6.1,4.1L3,1C2.7,0.7,2.3,0.4,1.8,0.3C1.2,0.1,0.6,0,0,0H18z' fill='%23ffffff'/></svg>");
}
.page-header-decor-top {
	top: 0;
}
.page-header-decor-bottom {
	bottom: 0;
	transform: rotate(180deg);
}
.page-header-decor-top::before,
.page-header-decor-bottom::before, {
	@include horizontal-dash-line(top, rgba(#fff, 0.7), 6px, 5px);
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	top: 15px;
	background-position: center;
}

/* Breadcrumbs */
.breadcrumbs {
	margin-top: 0.875rem;
	font-weight: 300;
	line-height: 1;
}
.breadcrumbs span {
	font-style: italic;
}
.breadcrumbs a {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
	color: rgba(#fff, 0.8);
}
.breadcrumbs,
.breadcrumbs a {
	color: rgba(#fff, 0.7);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #fff;
}
