/* Page content layout */
.site-content {
	@include clearfix;
	outline: none;
}
.main-wrap {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.sidebar-wrap {
	padding-bottom: 5rem;
}
.main-content {
	@include clearfix;
}
@media (min-width: $screen-md-min) {
	.has-sidebar .main-wrap {
		float: left;
		width: 100%;
		padding-right: 28%;
	}
	.sidebar-wrap {
		float: left;
		width: 25%;
		padding-top: 5rem;
		margin-left: -25%;
		border-top: 0;
	}
}

/* Archive Loop */
.archive-loop-item {
	padding-bottom: 2.4375rem;
	margin-bottom: 2.875rem;
	border-bottom: 1px solid;
	border-color: #e0e0e0;
}
.archive-loop-item:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
}
.archive-loop-wrap + .pagination {
	padding-top: 3.75rem;
	margin-top: 2.4375rem;
	border-top: 1px solid;
	border-color: #e0e0e0;
}
