/* Remove button */
.woocommerce a.remove {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem;
	color: #fff !important;
	background-color: #c5c5c5;
}
@media (min-width: $screen-md-min) {
	.woocommerce a.remove {
		width: 1rem;
		height: 1rem;
		font-size: 1rem;
	}
}

/* Sale tag */
.woocommerce span.onsale {
	@include font-smoothing;
	min-width: 0;
	min-height: 0;
	width: auto;
	height: auto;
	padding: 0.375rem 0.5rem 0.375rem;
	border-radius: 0;
	font-size: 0.75rem;
	line-height: 100%;
	text-transform: uppercase;
	background-color: $color-1;
	color: #fff;
}

/* Quantity input */
.woocommerce .quantity .input-text {
	width: 4.875rem;
	padding: 0.375rem 0.6125rem 0.375rem 1.4375rem;
	margin-right: 0.5rem;
}

/* Product Gallery */
.woocommerce-product-gallery__wrapper {
	margin: 0;
}


/* Product Page */
.woocommerce div.product div.images .woocommerce-product-gallery__image {
	border-radius: 0.75rem;
}
.woocommerce div.product div.images .flex-control-thumbs {
	margin-top: 0.75rem;
}
.woocommerce div.product div.images .flex-control-thumbs li {
	margin-right: 0.75rem;
	border-radius: 0.75rem;
	overflow: hidden;
}
.woocommerce div.product div.summary {
	margin-bottom: 3.75rem;
}
.woocommerce div.product .product_title {
	font-size: 2rem;
	margin-bottom: 1.875rem;
}
.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 1.625rem;
}
.woocommerce div.product .woocommerce-product-rating .star-rating {
	font-size: 1rem;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price {
	color: $text-color;
	margin-bottom: 1.75rem;
}
.woocommerce div.product span.price ins,
.woocommerce div.product p.price ins {
	text-decoration: none;
}
.woocommerce-product-details__short-description {
	margin-bottom: 2rem;
}
.woocommerce div.product form.cart div.quantity {
	margin-right: 0.5rem;
}
.woocommerce div.product form.cart .button {
	@include button-primary;
	@include button-primary-bg(38);
	padding-left: 2rem;
	padding-right: 2rem;
}
.woocommerce div.product .product_meta .posted_in,
.woocommerce div.product .product_meta .tagged_as {
	display: block;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding-left: 0;
	margin-bottom: 3.25rem;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	padding-left: 1.6875rem;
	padding-right: 1.6875rem;
	margin-left: 0;
	margin-right: 0.5rem;
	border-top-left-radius: 0.6875rem;
	border-top-right-radius: 0.6875rem;
	background-color: #e6e6e6;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	padding-top: 0.6875rem;
	padding-bottom: 0.625rem;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #333;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none
}

/* Product loops */
.woocommerce ul.products {
	margin-bottom: 0;
}
.woocommerce ul.products li.product {
	margin-bottom: 2rem;
	border: 1px solid;
	border-color: #f1f1f1;
	border-radius: 0.75rem;
	text-align: center;
}
.woocommerce ul.products li.product .woocommerce-LoopProduct-link {
	display: block;
}
.woocommerce ul.products li.product a img {
	max-width: none;
	width: 100%;
	width: calc(100% + 2px);
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: 0;
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-category__title {
	padding-top: 0;
	padding-bottom: 0;
	margin: 2rem 0.5rem 0.75rem;
	color: #333;
	font-family: $font-family-base;
	font-size: 1rem;
	font-weight: normal;
}
.woocommerce ul.products li.product .star-rating {
	margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8125rem;
}
.woocommerce ul.products li.product .price {
	margin-bottom: 0.5rem;
	font-size: 1rem;
	color: #333;
}
.woocommerce ul.products li.product .price del {
	display: inline-block;
	margin-right: 0.5rem;
	opacity: 1;
	color: #bdbdbd;
}
.woocommerce ul.products li.product .price ins {
	text-decoration: none;
}
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .added_to_cart {
	padding: 0.5rem 1.4375rem;
	margin: 0.75rem 1rem 1.75rem;
	font-size: 0.875rem;
}
.woocommerce ul.products li.product .added_to_cart {
	margin-top: -0.75rem;
}
/* Product hover effect */
@media (min-width: $screen-md-min) {
	.woocommerce ul.products li.product,
	.woocommerce ul.products li.product .onsale {
		transition: all 0.3s;
		transform: translate3d(0, 0, 0);
	}
	.woocommerce ul.products li.product .button {
		transition: all 0.3s;
	}
	.woocommerce ul.products li.product:hover {
		box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.11);
	}
	.woocommerce ul.products li.product:hover .onsale {
		transform: translate3d(0, -2px, 0);
		animation-delay: 0.4s;
		animation-duration: 0.6s;
		animation-name: onsale-shake;
	}
	.woocommerce ul.products li.product:hover .button {
		background-color: $color-1;
		color: #fff;
	}
}
/* Sale tag shake animation */
@keyframes onsale-shake {
	0%   { transform: translate3d(0, -2px, 0) rotate(0);      }
	20%  { transform: translate3d(0, -2px, 0) rotate(-8deg);  }
	40%  { transform: translate3d(0, -2px, 0) rotate(10deg);  }
	60%  { transform: translate3d(0, -2px, 0) rotate(-10deg); }
	80%  { transform: translate3d(0, -2px, 0) rotate(8deg);   }
	100% { transform: translate3d(0, -2px, 0) rotate(0);      }
}

/* Product categories */
.woocommerce ul.products li.product-category {
	border: 0;
}
.woocommerce ul.products li.product-category a img {
	border-radius: 0.75rem;
}
.woocommerce ul.products li.product-category .woocommerce-loop-category__title {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.woocommerce ul.products li.product-category .woocommerce-loop-category__title .count {
	font-weight: bold;
	background-color: transparent;
}
@media (min-width: $screen-md-min) {
	.woocommerce ul.products li.product-category .woocommerce-loop-category__title,
	.woocommerce ul.products li.product-category .woocommerce-loop-category__title .count {
		transition: all 0.2s;
	}
	.woocommerce ul.products li.product-category:hover {
		box-shadow: none;
	}
	.woocommerce ul.products li.product-category:hover .woocommerce-loop-category__title,
	.woocommerce ul.products li.product-category:hover .woocommerce-loop-category__title .count {
		color: $color-1;
	}
}

/* Product loops result count and ordering */
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
}

/* Product loops pagination */
.woocommerce ul.products + nav.woocommerce-pagination {
	padding-top: 2.875rem;
	border-top: 1px solid $border-color;
}

/* Shop buttons */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.added_to_cart {
	@include button;
	padding: 0.5rem 1.4375rem;
	font-size: 0.875rem;
}
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
	@include undo-font-smoothing;
	background-color: $color-1;

	&:hover {
		background-color: darken($color-1, 8%);
	}
}
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
	&.disabled,
	&:disabled,
	&:disabled[disabled] {
		@include button-disabled;
		opacity: 1;
	}
}

/* Reviews */
.woocommerce #reviews #comments h2 {
	margin-top: 0;
}
.woocommerce #reviews #comments ol.commentlist {
	padding-left: 0;
}
.woocommerce #reviews #comments ol.commentlist li {
	transform: translate3d(0, 0, 0);
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin-right: 1rem;
	border-radius: 50%;
	border-width: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 3.5rem;
}
.woocommerce #review_form {
	margin-top: 1.75rem;
}
.woocommerce #review_form #respond p {
	margin-bottom: 1.25rem;
}
.woocommerce #review_form #respond .comment-reply-title {
	display: block;
	margin-top: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	font-family: $font-family-serif;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: $line-height-heading;
	text-align: center;
}
.woocommerce #review_form #respond .comment-form-rating .stars a {
	color: $color-1;
}
.woocommerce #review_form #respond .submit {
	padding: 0.625rem 2.125rem;
}
@media (min-width: $screen-sm-min) {
	.woocommerce #review_form {
		margin-left: 3.5rem;
	}
}

/* Star ratings */
.woocommerce .star-rating {
	width: 6em;
	height: 1.1em;
	line-height: 1.1;
	font-size: 0.8125rem;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 2px;
}
.woocommerce .star-rating,
.woocommerce .star-rating::before {
	color: $color-1;
}

/* Shop tables */
.woocommerce table.shop_table {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: separate;
	border-radius: 5px;
}
.woocommerce table.shop_table th {
	font-weight: 700;
	padding: 9px 12px;
}
.woocommerce table.shop_table td {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	vertical-align: middle;
}
.woocommerce table.shop_table td small {
	font-weight: normal;
}
.woocommerce table.shop_table tbody:first-child tr:first-child th,
.woocommerce table.shop_table tbody:first-child tr:first-child td {
	border-top: 0;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
	font-weight: 700;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce table.shop_table {
	table-layout: fixed;
	border-collapse: collapse;
	border-radius: 0;
	border-color: $border-color;
	font-size: 0.875rem;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
	border-color: $border-color;
}
.woocommerce table.shop_table thead tr {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #e0e0e0;
	background-color: #e0e0e0;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 0;
}
@media (min-width: $screen-sm-min) {
	.woocommerce table.shop_table tbody tr {
		border-bottom: 1px solid;
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: $border-color;
	}
}

/* Product list widgets */
.woocommerce ul.product_list_widget li {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 1rem;
}
.woocommerce ul.product_list_widget li:last-child {
	margin-bottom: 0;
}
.woocommerce ul.product_list_widget li a,
.woocommerce ul.product_list_widget li a:hover {
	color: inherit;
}
.woocommerce ul.product_list_widget li img {
	float: left;
	width: 4.375rem;
	height: 4.375rem;
	margin-left: 0;
	margin-right: 1rem;
	border-radius: 0.25rem;
}
.woocommerce ul.product_list_widget li ins {
	text-decoration: none;
	font-weight: bold;
}
.woocommerce ul.product_list_widget li del {
	color: #bdbdbd;
}

/* Shopping cart widget */
.woocommerce.widget_shopping_cart .total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 0.75rem;
	border-top: 1px solid #c5c5c5;
	font-size: 1rem;
}
.woocommerce.widget_shopping_cart .total strong {
	font-weight: normal;
}
.woocommerce.widget_shopping_cart .cart_list li {
	padding-left: 0;
	padding-right: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #c5c5c5;
}
.woocommerce.widget_shopping_cart .cart_list li:last-child {
	border-bottom: 0;
}
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 0;
	font-size: 1rem;
	text-align: center;
}
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	left: auto;
	right: 0;
	top: 1.625rem;
}
.woocommerce.widget_shopping_cart .buttons::before,
.woocommerce.widget_shopping_cart .buttons::after {
	flex: 0;
	max-width: 0;
}
.woocommerce.widget_shopping_cart .buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-left: -0.25rem;
	margin-right: -0.25rem;
	margin-bottom: -0.25rem;
}
.woocommerce.widget_shopping_cart .buttons a {
	display: block;
	flex: 1 0 0;
	min-width: 8.125rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	margin-bottom: 0.75rem;
}

/* Price filter widget */
.woocommerce .widget_price_filter .price_slider {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.woocommerce .widget_price_filter .price_slider_amount {
	font-size: 0.875rem;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #333;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #c4c4c4;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
	font-size: 0.875rem;
}

/* WooCommerce forms */
.woocommerce form .form-row {
	margin-bottom: 0.875rem;
	font-size: 0.9375rem;
}
.woocommerce form .form-row label {
	margin-left: 2px;
}
.woocommerce form .form-row .required {
	text-decoration: none;
}

/* Cart/checkout page */
.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
	table.cart .button,
	table.cart .button.disabled,
	table.cart .button:disabled,
	table.cart .button:disabled[disabled], {
		line-height: $line-height-input;
	}
	table.cart td.actions .coupon .input-text {
		padding: 0.5rem 1.25rem;
	}

	.wc-proceed-to-checkout a.checkout-button {
		@include button-primary;
		@include button-primary-bg(50);
		@include button-large;
		font-size: 0.9375rem;
	}

	.cart-collaterals h2 {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}
	.cart-collaterals .cart_totals {
		max-width: 30rem;
	}
	.cart-collaterals .cart_totals table th {
		width: 50%;
	}

	#payment #place_order {
		@include button-primary;
		@include button-primary-bg(38);
	}

	/* Empty cart */
	.cart-empty,
	.return-to-shop {
		text-align: center;
	}


	@media (min-width: $screen-sm-min) {
		table.cart {
			border: 0;
		}
		table.cart img {
			width: 4rem;
		}
		table.cart .product-remove {
			width: 4rem;
			text-align: center;
		}
		table.cart .product-thumbnail {
			width: 6rem;
		}
		table.cart .product-price {
			width: 7rem;
		}
		table.cart .product-quantity {
			width: 7rem;
			padding-right: 2rem;
		}
		table.cart .product-subtotal {
			width: 7rem;
		}
		table.cart tbody tr:last-child {
			border: 0;
		}
		table.cart .quantity .qty {
			width: 100%;
		}
		table.cart td.actions .coupon #coupon_code {
			width: 12rem;
		}
		table.cart td.actions .coupon .input-text {
			padding-top: 0.4375rem;
			padding-bottom: 0.4375rem;
			margin-right: 1rem;
			border-color: $input-border-color;
			line-height: $line-height-input;
		}

		.wc-proceed-to-checkout a.checkout-button {
			float: right;
		}
	} // @media
}
