/* Clearfix */
.clearfix { @include clearfix; }

/* Container */
.container       { @include container-fixed; }
.container-fluid { @include container; }
@media (min-width: $screen-sm-min) {
	.vc_row > .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Text utilities */
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* Responsive text alignment */
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
@each $bp in map-keys($breakpoints-min) {
	@media (min-width: #{map-get($breakpoints-min, $bp)}) {
		.text-#{$bp}-left   { text-align: left !important; }
		.text-#{$bp}-right  { text-align: right !important; }
		.text-#{$bp}-center { text-align: center !important; }
	}
}
/* Text transforms */
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }
/* Weight and italics */
.font-weight-normal { font-weight: normal !important; }
.font-weight-bold   { font-weight: bold !important; }
.font-italic        { font-style: italic !important; }

/* Contextual colors */
.text-white     { color: #fff !important; }
.text-primary   { color: $color-1 !important; }
.text-secondary { color: $color-2 !important; }
.bg-primary     { background-color: $color-1 !important; }
.bg-secondary   { background-color: $color-2 !important; }

/* Text color tweaks for dark backgrounds */
.dark-bg {
	@include font-smoothing;
	color: #fff;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3 {
	color: #fff;
}

/* Visibility */
@media (max-width: $screen-xs-max) {
	.hidden-xs { display: none !important; }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.hidden-sm { display: none !important; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.hidden-md { display: none !important; }
}
@media (min-width: $screen-lg-min) {
	.hidden-lg { display: none !important; }
}
