// Colors
$text-color:         #333;
$text-color-dark:    #000;
$text-color-gray:    #929292;
$text-color-light:   #f2f2f2;
$color-1:            #c71a1e;
$color-2:            #191824;
$border-color:       #ddd;
$input-border-color: #c4c4c4;
$link-color:         #0181CA;

// Typography
$system-fonts-sans:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$system-fonts-serif: 'Apple Garamond', 'Baskerville', 'Georgia', 'Times New Roman', 'Roboto Slab', 'Droid Serif', 'Times', 'Source Serif Pro',  serif;
$system-fonts-mono:   Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-family-base:  'Open Sans', $system-fonts-sans;
$font-family-serif: 'Vidaloka', $system-fonts-serif;
$font-family-mono:   $system-fonts-mono;

$line-height-base:     1.71429;
$line-height-computed: ($line-height-base * 1rem);
$line-height-input:    1.5;
$line-height-heading:  1.2;

$font-size-h1: 2.25rem;
$font-size-h2: 1.875rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.1rem;
$font-size-h6: 1rem;

// Layout
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

// Media queries breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;

$breakpoints-min: (
	sm: $screen-sm-min,
	md: $screen-md-min,
	lg: $screen-lg-min
);
