/* Sidebar */
.sidebar-content {
	font-size: 0.875rem;
	color: #333;
	padding: 0;
}
.sidebar-content .widget {
	@include horizontal-dash-line(bottom, #c4c4c4);
	padding-bottom: 3.5rem;
	margin-bottom: 3.5rem;
}
.sidebar-content .widget:last-child {
	@include undo-horizontal-dash-line;
	padding-bottom: 0;
	margin-bottom: 0;
}
.sidebar-content .widget *:last-child {
	margin-bottom: 0;
}

/* Widgets */
.widget-title {
	@include font-smoothing;
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: $text-color-dark;
}
.widget:not(.widget_text) a {
	color: #333;
}
.widget:not(.widget_text) a:hover {
	color: $color-1;
}
/* Widget content */
.widget ul {
	list-style: none;
	padding-left: 0;
}
/* Widget in Footer context */
.footer-widgets .widget {
	margin-bottom: 2.375rem;
}
.footer-widgets .widget-title {
	margin-bottom: 1rem;
}
.footer-widgets .widget-title::after {
	display: block;
	width: 2rem;
	margin-top: 1.25rem;
	border-bottom: 1px solid;
	border-color: #333;
	content: '';
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot,
.widget_calendar tr,
.widget_calendar td,
.widget_calendar th {
	border: 0;
}
.widget_calendar table {
	max-width: 22rem;
	line-height: $line-height-base;
	border-collapse: collapse;
}
.widget_calendar table caption {
	margin-bottom: 0.75rem;
}
.widget_calendar th,
.widget_calendar td {
	font-style: inherit;
	text-align: center;
}
.widget_calendar th {
	font-style: normal;
	background-color: $border-color;
	color: #333;
}
.widget_calendar td {
	padding: 0.6em;
	color: #999;
}
.widget_calendar tr:first-child td {
	padding-top: 1em;
}
.widget_calendar tfoot td:first-child {
	text-align: left;
}
.widget_calendar tfoot td:last-child {
	text-align: right;
}

/* Spacing in the list widgets */
.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
	margin-bottom: 0.6rem;
}
.widget_categories ul ul,
.widget_nav_menu ul ul,
.widget_pages ul ul {
	display: none;
}

/* Recent Comments Widget */
.widget_recent_comments {
	color: $text-color-gray;
}

/* Recent Posts Widget */
.widget_recent_entries .post-date {
	display: block;
	color: #999;
}

/* RSS Widget */
.widget_rss ul li {
	margin-bottom: 0.75rem;
}

/* Text Widget */
.widget_text .textwidget > :first-child {
	margin-top: 0;
}
.widget_text .textwidget > :last-child {
	margin-bottom: 0;
}

/* Pages Widget and Navigation Menu Widget in Footer context */
.site-footer .widget_pages ul,
.site-footer .widget_nav_menu ul {
	display: flex;
	flex-flow: row wrap;
}
.site-footer .widget_pages ul li,
.site-footer .widget_nav_menu ul li {
	width: 50%;
	padding-right: 1rem;
}
.site-footer .widget_pages ul ul,
.site-footer .widget_nav_menu ul ul {
	display: none;
}
