@import 'variables';
@import 'mixins';

#thelayer-editor-wrapper .slide_layer, // Inside Revolution Slider Editor
#wpb_visual_composer,                  // Inside Visual Composer Editor
#tinymce.mce-content-body {            // Inside TinyMCE Visual Editor
	@import 'buttons';
	@import 'utility';

	.btn {
		// Reset box-sizing
		box-sizing: border-box;
	}
}

#thelayer-editor-wrapper .slide_layer,
#wpb_visual_composer {
	.btn {
		// Disable button interaction inside Revolution Slider Editor and Visual Composer Editor
		pointer-events: none;
	}
}

#tinymce.mce-content-body {
	a.btn {
		// Allow user-select when inside TinyMCE Visual Editor for links with button style
		@include user-select(auto);
	}
}

#wpb_visual_composer,
#tinymce.mce-content-body {
	.text-white {
		// Undo the white text color inside Visual Composer Editor and TinyMCE Visual Editor,
		// so it's visible on the white background.
		color: inherit !important;
	}
}

// Visual Composer Backend Editor styling tweaks
#wpb_visual_composer {
	.wpb_vc_param_value.textarea_html {
		clear: both;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.wpb_goodtailor_pricing_box .textarea_html {
		text-align: center;
	}
}
